* {
  padding: 0px;
  margin: 0px;
  background-image: url(./img/damir-babacic-7EkyXZYeYsw-unsplash.jpg);
}
#form {
  border: 2px solid black;
  width: 300px;
  height: 150px;
  padding: 20px;
  margin: 50px auto;
}
button :hover {
  background-color: darkgray;
}
