* {
  padding: 0px;
  margin: 0px;
}
#imagesprite {
  height: 500px;
  border: 2px solid black;
}
h1 {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}
/* font weight upto 900 only */
article {
  display: flex;
  justify-content: space-between;
}
article > div {
  display: flex;
  flex-basis: 33%;
  height: 150px;
  justify-content: center;
}
#colombia p:first-child {
  text-indent: -9999px;
  background-image: url(./img/63f6a3d801cae05e26a753cbdc8e2dee\\(2\).png);
  background-position: 0px -200px;
}
